.hero-section{
    background-image: url("./Images/hero-img.jpg");
    background-position: center;
    height: 65vh; 
    width: 100%;
    color: var(--off-white);
}
.hero-section h1:nth-child(1){
    background-color: var(--off-white);
    color: var(--primary-color);
    border-radius: var(--scale-xxs);
}
.category-img{
    width: 25rem;
    height: 25rem;
    object-fit: cover;
}
.category-card{
    background-color: var(--light-primary-color);
}
