.footer{
    background-color: var(--primary-color);
    color: var(--off-white);
    width: 100%;
    height: 10vh;
}
.footer .fab{
    color: var(--off-white);
}
.social-link i{
    font-size: var(--scale-lg);
}